<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/style.css') }}"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/indoor_quality">Indoor Quality</a></li>
        {% if username %}
        <li class ="welcome"><span>Welcome, {{ username }}!</span></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </nav>

    <section id="dashboard">
      <h1>Outdoor Air Quality</h1>
      <div class="city-input">
        <input type="text" id="cityName" placeholder="Enter city name" />
        <button id="fetchDataButton">Get data!</button>
      </div>
      <br />
      <div id="map" style="height: 400px"></div>

      <div class="grid-container">
        <div class="parameter">
          <div class="icon"><i class="fas fa-thermometer-half"></i></div>
          <p class="label">Temperature</p>
          <p class="value temperature">{{ dashboard_data.temperature }}°C</p>
        </div>
        <div class="parameter">
          <div class="icon"><i class="fas fa-tint"></i></div>
          <p class="label">Humidity</p>
          <p class="value humidity">{{ dashboard_data.humidity }}%</p>
        </div>
        <div class="parameter">
          <div class="icon"><i class="fas fa-wind"></i></div>
          <p class="label">Pressure</p>
          <p class="value pressure">{{ dashboard_data.pressure }} hPa</p>
        </div>
        <div class="parameter">
          <div class="icon"><i class="fas fa-compass"></i></div>
          <p class="label">Wind Speed</p>
          <p class="value wind_speed">{{ dashboard_data.wind_speed }} m/s</p>
        </div>
        <div class="parameter">
          <div class="icon"><i class="fas fa-compass"></i></div>
          <p class="label">Wind Direction</p>
          <p class="value wind_deg">{{ dashboard_data.wind_deg }}°</p>
        </div>
      </div>
      <canvas id="airQualityChart" width="400" height="200"></canvas>
    </section>

    <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </body>
</html>
