<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Indoor Quality</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/style.css') }}"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/indoor_quality">Indoor Quality</a></li>
        {% if username %}
        <li><span>Welcome, {{ username }}</span></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </nav>

    <section id="dashboard">
      <h2>Indoor Air Quality</h2>
      <div class="grid-container">
        <div class="parameter">
          <div class="icon mq2"></div>
          <p class="label">MQ2</p>
          <p class="value mq2">{{ indoor_data.mq2 }}</p>
        </div>
        <div class="parameter">
          <div class="icon mq7"></div>
          <p class="label">MQ7</p>
          <p class="value mq7">{{ indoor_data.mq7 }}</p>
        </div>
        <div class="parameter">
          <div class="icon mq135"></div>
          <p class="label">MQ135</p>
          <p class="value mq135">{{ indoor_data.mq135 }}</p>
        </div>
        <div class="parameter">
          <div class="icon dht11"></div>
          <p class="label">DHT11</p>
          <p class="value dht11">{{ indoor_data.dht11 }}</p>
        </div>
      </div>
      {% if is_admin %}
      <div>
        <h3>Admin Options</h3>
        <!-- Admin functionalities go here -->
      </div>
      {% endif %}
    </section>
  </body>
</html>
